@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Skranji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Skranji&display=swap");

:root {
  font-family: "Martian Mono", monospace;
}

button {
  font-family: "Martian Mono", monospace;
  font-family: "Skranji", cursive;
}

h1 {
  font-family: "Martian Mono", monospace;
  font-family: "Skranji", cursive;
}
